/* hoja de estilos de tabla */

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

:root{
	--primario: #2A2F4F;
	--secundario: #917FB3;
	--terciario: #E5BEEC;
	--claro: #FDE2F3;
}

*{margin: 0; padding:0; box-sizing: border-box;}
html{ height: 100%; line-height: 1.5; font-size: 62.5%; /* =10px */ font-family:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;}

h1{
	padding: 1.5rem;
	text-align: center;
	color: var(--claro);
	background-color: var(--secundario);
	border-radius: 2rem;
	
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
	
}
body{
	background-color: #7F669D;	
	font-size: 1.6rem;
	line-height: 1.5;

	
}

h2{
	font-size: 1.5rem;
}

p{
	font-size: .5;
}


#periodic-table{
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
}


#periodic-table{
  display: block;
  width: 100%;
  background-color: var(--secundario);
  padding: 2rem;
}
#f-block:after ,
#periodic-table:after {
  content: "";
  display: table;
  clear: both;
  
}
#descriptions {
	width: 70%;
	max-width:1000px;
	margin: 0 auto;
	
}
#descriptions .info{
    opacity: 0; 
    height: 0;
    overflow: hidden;
	transition: opacity 2s ease-out;
	-moz-transition: opacity 2s ease-out;
	-webkit-transition: opacity 2s ease-out;
	-o-transition: opacity 2s ease-out;
	
}
#descriptions .info:target{
    opacity: 1; 
    height: auto;
	padding: 2rem 5rem;
	background: rgba(255,255,255, .1);
	border-radius: 10%;
	border: solid 5px rgba(255,255,255, .2);
}
#container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 5em; 
}
#container:after {
  content: "";
  display: table;
  clear: both;
}
.row{ 
	width: 100%;
	display: block;
}
.row span{ 
	float: left;
}
#f-block span{
	float: right;
}
.elemento:hover{
	background-color: var(--primario);
}
.element{
	width: auto;
}
.row span{ 
	display: block;
}

@media(min-width: 768px){
	.element{
		width: 5.55%; 
		height: 7.5rem;
	}
	#f-block{
		margin-top: 30px;
	}
	.span-15{ 
		width: 83.325%;
		height: 1px;
	}
	.span-9{ 
		width: 49.999%;
		height: 1px;
	}
	.span-14{ 
		width: 77.77%;
		height: 1px;
	}
}
.element a{
    border: 1.5px solid #000000;
	color: #ffffff;
	display: block;
	width: 100%; 
	height: 100%;
	text-decoration: none;
}
.element h5{
	text-align: right;
	font-size: 0.6em;
}
.element h2{
	text-align: center;
	margin-top: -8px;
}
.element p{
	text-align: center;
	margin-top: -5px;
	font-size: 0.7em;
}

.element{
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
}

.key{
	font-weight: 550;
	background-color: var(--terciario);
	line-height: 3rem;
	margin: 2rem auto;
	width: 60%;
	padding: 1.5rem;
	list-style-type: none;
	text-align: center;

	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
}
.key li { 
	display: inline-block; 
	margin: 0 .2rem;
}
.swatch{ 
	width: 1.5rem;
	height: 1.5rem;
	border: solid 1px #777;
	display: inline-block;
}

.swatch.ipn,
.element.ipn a{
	background-color: #621c3f;
	transition: background-color 2s ease;
    transition: font-size 1s ease;
}

.element.ipn a:hover{
	font-size:1.7rem;
	background-color: var(--terciario);
	color: var(--primario);
	font-weight: 700;
}

.swatch.mexico,
.element.mexico a{
	background-color: #11531c;
	transition: background-color 2s ease;
    transition: font-size 1s ease;
}

.element.mexico a:hover{
	
	font-size:1.7rem;
	background-color: var(--terciario);
	color: var(--primario);
	font-weight: 700;

}

.swatch.lat,
.element.lat a{
	background: #73691d;
	transition: background-color 2s ease;
    transition: font-size 1s ease;
}

.element.lat a:hover{
	
	font-size:1.7rem;
	background-color: var(--terciario);
	color: var(--primario);
	font-weight: 700;
}

.swatch.world,
.element.world a{
	background: #050070;
	transition: background-color 2s ease;
    transition: font-size 1s ease;
}

.element.world a:hover{
	
	font-size: 1.7rem;
	background-color: var(--terciario);
	color: var(--primario);
	font-weight: 700;
}

.links{
	margin-left: 2rem;
}

.by{
	text-align: center;
	font-size: 1.8rem;
	color: #FFF;
}
.by a{
	color: #CCC;
}

footer{
	text-align: center;
	margin: 1%;
}

.tabla{
	margin: 5px; 
}

td{
	padding: 5px;
}

th{
	background-color: #eeeeee;
}


.marca{
	color: #FFC20F;
	font-weight: bold;
}

#vamos{
	font-weight: 700;
	width: 100%;
	background-color: var(--terciario);
	padding: 1rem;
	border-radius: 3px;
	border: none;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.79);
}

#vamos:hover{
	
	background-color: var(--primario);
	color: var(--claro);
	cursor: pointer;
}

#vamos>a{
	text-decoration: none;
	color: black;
}

#espacio{
    width: 100px;
    height: 50px;
}

.info h2{
	text-align: center;
	font-size: 2.6em;
}

.info p{
	text-align: justify;
	margin-right:35%;
}

.info img
{
	align-items: center;
	width: 170px; height: 200px;
	border-radius: .4rem;
	margin-left: 70%;
	margin-top: -20%;
}
